.item {
  margin: 1rem 0;
  background-color: #575757;
  padding: 1rem;
}

.item h3 {
  margin: 0rem 0;
  font-size: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container-image {
  margin: auto;
  max-width: 4rem;
  border: 2px solid #1ac5d1;
  /* padding: 1rem; */
}

.container-detail {
  margin: auto;
  flex: 2;
}

.item header {
  margin: 0rem 1rem;
}
.item p {
  margin: 0rem 1rem;
}

.quantity {
  font-size: 1rem;
  font-weight: bold;
  background-color: #1ac5d1;
  margin-left: 1rem;
  padding: 0rem 0.5rem;
  border-radius: 4px;
  width: 2rem;
  text-align: center;
}

.quantity span {
  font-size: 0.7rem;
}

.price {
  font-size: 0.75rem;
  font-weight: bold;
}

.itemprice {
  font-weight: normal;
  font-size: 0.75rem;
  font-style: italic;
  color: #1ac5d1;
}

.container-actions {
  margin: auto;
}

.container-actions button {
  background-color: transparent;
  border: 1px solid white;
  margin-left: 0.5rem;
  padding: 0.15rem 1rem;
  color: white;
}

.container-actions button:hover,
.container-actions button:active {
  background-color: #4b4b4b;
  color: white;
}
